/* content 1 */
.wrapper{
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 35px;
}

.paragraf{
  margin-top: 120px;
  margin-left: 70px;
  text-align: center;
}

.paragraf-btn{
  margin-top: 7px;
  background-color: blue;
  border: none;
  color: white;
}

.paragraf-img {
  margin-left: 450px;
  margin-top: 40px;
}

.rocket-img{
  width: 200px;
}

/* content 2 */
/* isi content 2 */

.paragraf-content2{
  text-align: center;
  font-size: 17px;
} 

/* card content 1 */
.card-content1 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* card content 2 */
.card-content2{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 80px;
}

.card-content2-img {
  width: 100%;
}

.paragraf-img2 {
  margin-top: -10px;
}

.rocket-img2{
  width: 400px;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.btn-card{
  background-color: red !important;
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 140px;
  color: white;
}

/* paragarf content 3 */
.paragraf-content3{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.card-content3{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.paragraf-text3{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 90px;
}

.wrapper-btn3{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paragraf-btn3{
  border: none;
  background-color: blue;
  color: white;
  height: 30px;
  width: 140px;
  border-radius: 4px;
}

/* Paragraf 4 */

.paragraf-content4{
  border-top: 1px solid black;
  margin-top: 40px;
}

.card-content4{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Media query untuk perangkat mobile */
@media (max-width: 768px) {
  .wrapper {
    display: flex; /* Mengatur tampilan elemen menjadi vertikal */
    margin: 20px; /* Atur margin secara umum */
  }

  .paragraf {
    text-align: center;
    margin-top: 90px;
    margin-left: 40px;
  }

  .paragraf-img {
    margin-top: 40px;
    margin-left: 90px;
  }

  .rocket-img {
    width: 200px; /* Gambar mengisi lebar kontainer */
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    margin: 20px; /* Atur margin secara umum */
  }

  .paragraf {
    text-align: center;
    margin-top: 90px;
    margin-left: 40px; /* Sesuaikan dengan tampilan tablet */
  }

  .paragraf-img {
    margin-top: 40px;
    margin-left: 90px; /* Sesuaikan dengan tampilan tablet */
  }

  .rocket-img {
    width: 200px; /* Gambar mengisi lebar kontainer */
  }
}
